* {
      margin: 0;
      padding: 0;
      text-decoration: none;
      list-style: none;
}

body {
      font-family: "Oswald", sans-serif;
      background-color: rgba(183, 196, 3, 0.904);
      /*background-image: url(assents/foto/fundo.jpg);*/
      color: #0a0a0a;

}

html,body{
      height: 100%;
}

.container{
      width: 100%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
}

a {
      color: #0d0d0e;
}

a, button{
      transition: all 300ms;
}

header {
      background-color: rgb(153, 179, 38);
      padding: 17px; /*espaçamento lateral*/     
}

.header{
      display: flex;
      justify-content: space-between;
      align-items: center;
}

header ul a:hover{
      color: yellowgreen;
      text-decoration:yellowgreen;
      background-color: #413f01;
}

header ul a{
      padding: 8px 16px;
      border-radius: 4px;
}
header ul{
      display: none;
}

header > a{
      font-size: 30px;
      color: #413f01;
}

header button{
      background: none;
      border: none;
}

main{
      padding: 25px 25px;/*primeiro parte de cima e segundo numero parte lateral8, left e right*/
      margin-top: 16px;
      margin-bottom: 16px;

}

main h2{
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 16px;
      color: #413f01;
}

section p{
      font-size: 19px;
      margin-bottom: 16px;
      color: #203802;
}


#hero img{
      max-width: 100%;
}

#projetos p{
      font-size: 30px;
}

article{
      background-color: #203802;
      margin-bottom: 16px;
      border-radius: 32px;
      padding: 14px;
      background: linear-gradient(rgb(7, 88, 4),rgb(78, 104, 6));
}

article img{
      border-radius: 24px;
      width: 100%;
}

article h3{
      font-size: 24px;
      margin-top: 8px;
      margin-bottom: 4px;
}

article p{
      margin-bottom: 24px;
}

article a:hover{
      color: #413f01;
      color: #e4e2b9;
}


article a{
      background-color: #0a0a0a;
      border-radius: 24px;
      width: 100%;
      display: block;
      padding-bottom: 14px;
      padding-top: 14px;
      text-align: center;
      color: aliceblue;

}

section form{
      background-color: #203802;
      border-radius: 32px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 16px;
      padding-right: 16px;
      

      display: flex;
      flex-direction: column;
      gap: 16px;
}

form div {
      display:flex;
      flex-direction:column;
      gap: 8px;

}

label{
      font-size: 14px;
}

input, textarea{
      border: 2px solid #413f01;
      border-radius: 24px;
      padding: 16px;
      background-color: #e4e2b9;
}

textarea{
      height: 128px;
      font-family:inherit;
}


button{
      height: 48px;
      border-radius: 25px;
      border: none;
      background-color: #34530d;
      font-size: 14px;
      color: #0a0a0a;
      font-weight: 600;
      cursor: pointer;
}

article a:hover{
      background-color: #738f4f;
}

button:hover{
      background-color: #044b33;
}

footer{
    background-color: #413f01;
     padding: 20px; 
}

footer img{
      width: 40px;
      height: 40px;
}


footer ul{
      display:flex;
      gap: 8px;
      justify-content: center;
      
}


footer p{
      text-align: center;
      margin-top: 8px;
}

@media(min-width: 768px){
      header button{
            display: none;
      }

      header ul{
            display: flex;
            gap: 16px;
      }
      
      #hero{
            display: flex;
            align-items: center;
            gap: 24px;
      }

      

      h2{
            font-size: 32px;
      }

      h2 spam{
            color: #080801;
      }

      #projetos ul{
            gap:16px;
            display: flex;

      }

      #hero img{
            display: block;
            height: 323px;
            border-radius: 32px;
            width: 100%;
            max-width: 500px;
            border-radius: 32px;
            object-fit: cover;
      }

      footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
      }
}







/*pra mexer pelo celular192.168.15.4
127.0.0.1:5500/index.html
192.168.15.4:5500/index.html/
*/
