* {
      margin: 0;
      padding: 0;
      text-decoration: none;
      list-style: none;
}

html,
body{
      height: 100%;
}

body {
      font-family: "Joan", serif;
      background-color: #A26105;
      /*background-image: url(assents/foto/fundo.jpg);*/
      color: #ffffff;
}

.container{
      width: 100%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
}

a {
      color: #FFFFFF;
}

a,
button{
      transition: all 300ms;
}

header {
      background-color: #673E05;
      padding: 17px; /*espaçamento lateral*/     
}

.header{
      display: flex;
      justify-content: space-between;
      align-items: center;
}

header a{
      font-size: 32px;
}

header button{
      background: none;
      border: none;
}

header ul{
      display: none;
}

header ul a{
      padding: 8px 16px;
      border-radius: 4px;
}

header ul a:hover{
      color: #EED37D;
}

main{
      padding: 16px 16px;/*primeiro parte de cima e segundo numero parte lateral8, left e right*/
      margin-top: 48px;
      margin-bottom: 72px;

}

section{
      margin-bottom: 72px;
}

section h2{
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 16px;
}

section p{
      font-size: 20px;
      margin-bottom: 16px;
      color: #e4e2b9;
}

#hero img{
      display: none;
}

#projetos p{
      font-size: 16px;
}

/*h2{
      display: block;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      unicode-bidi: isolate;
}

p{
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
}*/

article {
      background-color: #4A2C03;
      border-radius: 32px;
      padding: 14px;
      margin-bottom: 28px;
}

article img{
      border-radius: 24px;
      width: 100%;
}

article h3{
      font-size: 24px;
      margin-top: 8px;
      margin-bottom: 4px;
}

article p{
      margin-bottom: 24px;
}

article a:hover{
      color: #4A2C03;
      color: #e4e2b9;
}


article a{
      background-color: #e4e2b9;
      border-radius: 24px;
      width: 100%;
      display: block;
      padding-top: 14px;
      padding-bottom: 14px;
      text-align: center;
      color: #000000;

}

article a:hover{
      background-color: #A26105;
      color: #e4e2b9;
}

/*.quadro ul{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;   
}*/

section form{
      border-radius: 32px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 16px;
      padding-right: 16px;
      

      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: #673E05;
}

/*ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}*/

form div {
      display:flex;
      flex-direction:column;
      gap: 8px;

}

label{
      font-size: 14px;
}

input, 
textarea{
      border: 2px solid #673E05;
      border-radius: 24px;
      padding: 16px;
      background-color: #e4e2b9;
}

textarea{
      height: 128px;
      font-family:inherit;
}


button{
      height: 48px;
      border-radius: 25px;
      border: none;
      background-color: #4A2C03;
      font-size: 14px;
      color: #e4e2b9;
      font-weight: 600;
      cursor: pointer;
}

button:hover{
      background-color: #A26105;
}

footer{
    background-color: #4A2C03;
     padding: 20px; 
}

footer ul{
      display:flex;
      gap: 8px;
      justify-content: center;    
}

footer p{
      text-align: center;
      margin-top: 8px;
}



@media(min-width: 768px){
      header button{
            display: none;
      }

      header ul{
            display: flex;
            gap: 16px;
      }
      
      #hero{
            display: flex;
            align-items: center;
            gap: 24px;
      }

      #hero div{
            max-width: 500px;
      }

      /** {
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style: none;
      }*/

      h2{
            font-size: 32px;
      }

      h2 spam{
            color: #080801;
      }
      
      #hero img{
            display: block;
            height: 323px;
            border-radius: 32px;
            width: 100%;
            object-fit: cover;
      }

      #projetos ul{
            display: flex;
            gap: 16px;
      }
      
      footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
      }
}







/*pra mexer pelo celular192.168.15.4
127.0.0.1:5500/index.html
192.168.15.4:5500/index.html/
*/
